# Archivos compilados y build
target/
*.class

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos de log y temporales
*.log
*.tmp
hs_err_pid*

# Archivos de sistema (Windows/Mac)
Thumbs.db
.DS_Store

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar